.form-group {
    padding-bottom: 20px;
}

.chip {
    padding: 0.25rem 0.5rem;
    box-sizing: border-box;
    background: #000;
    border-radius: 0.5rem;
    color: var(--primary);
    font-size: 0.8rem;
    padding-right: 1.5rem;
    position: relative;
    color: white;
    margin-right: 5px;
}

span.chip > button {
    border: none;
    background: transparent;
    color: transparent;
    position: absolute;
    top: 50%;
    right: 0.15rem;
    transform: translateY(-50%);
    color: #fff;
}